#projects {
  @extend .shaddow;

  h3 {
    color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin: 50px 0;
  }
  .project {
    padding: 80px 160px;
    color: #FFF;

    &.steamleft {
      background: #a73737;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    &.mealmeter {
      background: #eee;  /* fallback for old browsers */
      color: #333;
      img {
        border: 3px solid #333;
      }
    }

    &.myemailbook {
      background: #F7971E;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #F7971E, #FFD200);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #F7971E, #FFD200); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .project-content {
      max-width: 700px;
      margin: 0 auto;

      img {
        // border: $banner-border-width solid $banner-border-color;
        width: 100%;
        margin-bottom: 30px;
      }
      h5 {
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
      }
    }
  }
}
